<!DOCTYPE html>
<html
xmlns:th="http//www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}"
>

<th:block layout:fragment="content">
<div class="boardContainer">
	<div class="body">
		<div>
			<h1>회원가입</h1>
		</div>
		<form action="/user/join" method="post">
			<table class="table board">
				<thead>
					<tr>
						<td>회원가입</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><label for="user_id"><span>아이디</span></label> 
						<input type="text" id="user_id" name="userId"></td>
						<td><div id="idCheck"></div></td>
					</tr>
					<tr>
						<td><label for="password"><span>비밀번호</span></label> 
						<input type="password" id="password" name="userPassword"></td>
					</tr>
					<tr>
						<td><label for="user_name"><span>이름</span></label> 
						<input type="text" id="user_name" name="userName"></td>
					</tr>
					<tr>
						<td><label for="address"><span>주소</span></label> 
						<input type="text" id="address" name="address"></td>
					</tr>
					<tr>
						<td><label for="phone"><span>핸드폰</span></label> 
						<input type="text" id="phone" name="phone"></td>
					</tr>
					<tr>
						<td><label for="email"><span>이메일</span></label> 
						<input type="text" id="email" name="email"></td>
					</tr>
					
				</tbody>
			</table>
			<button type='submit'>가입</button>
		</form>
	</div>
	
</div>
<script th:inline="javascript">

$(function(){
	
	$("#user_id").keyup(function() {
		var id = document.getElementById('user_id').value;
		
		$.ajax({
			url : "/user/idCheck",
			type : "GET",
			data : {
				"userId" : id
			},
			success : function(data) {
				if (data == "yes") {
					document.getElementById('idCheck').innerHTML = "";
				} else {
					document.getElementById('idCheck').innerHTML = "중복된 ID가 존재 합니다."
					document.getElementById('idCheck').style.color = "red";
				}
			}
		});
	}); 
	
});

</script>
</th:block>
</html>